/.venv/
/build/
/dist/
/artifacts/
/dependencies/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.coverage
*.gam
*.GAM
*.res
*.RES
*.sav
*.SAV
*.exe
*.elf
*.map
*.o
*.log
*.ppm
*.raw
*.flat
*.BIN
*.bin
!src/a9288/data/icons/ico1.bin
!src/a9288/data/icons/ico2.bin
src/a9288/data/bin/
Thumbs.db
.DS_Store
